/* || Reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  max-width: 130rem;

  background-color: #f0f4f5;
  background-image: url("./images/stethoscope.png");
  background-size: 500px 500px;
  background-position: center;
  background-repeat: no-repeat;
}

/* || General Styles */
.nav__list {
  list-style-type: none;
}

a:any-link {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: none;
  font: inherit;
  padding: 0.6em 1.5em;
}

/* || Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 6.4rem;
  margin-bottom: 4.8rem;
}

.header__logo-container {
  width: 15rem;
}

.nav__list {
  display: flex;
  gap: 2.4rem;
}

.nav__list a:link,
.nav__list a:visited {
  font-weight: 600;
  color: #444;
  transition: color 0.3s;
}

.nav__list a:hover,
.nav__list a:active {
  color: #20bc7e;
}

/* || Main */
.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main__section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 5rem;
}

.main__section-heading {
  font-size: 7rem;
}

.main__section-description {
  font-size: 2rem;
  color: #7c7c7c;
}

.top-angle {
  align-self: flex-start;
}
.bottom-angle {
  position: absolute;
  left: 60rem;
  bottom: 90px;
}

.mouse-img {
  position: absolute;
  left: 54%;
  top: 85%;
}
.btn__appointment {
  cursor: pointer;
  background-color: #20bc7e;
  color: #fff;
  border-radius: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  align-self: flex-start;
}

.main__section-right {
  background-size: 390px, 430px;
}

.green-box,
.yellow-box {
  position: absolute;
  right: 0;
}

.green-box {
  width: 35%;
  bottom: 30px;
}

.yellow-box {
  width: 30%;
  bottom: 50px;
}

.doctor-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 90%;
}
